.daan-table .hotel-hover {
  position: absolute;
  /* left: 10px; */
  width: 200px;
  z-index: 3;
  right: 200px;
  display: none;
  padding: 10px;
  top: 400px;
  /* margin-top: -20px; */
  /* display: grid; */
  gap: 10px;
  background-color: #ffffff;
}
.daan-table .hotel-data:hover .hotel-hover {
  display: grid;
  gap: 5px;
}
