.daan-table .hotel-hover {
  position: absolute;
  /* left: 10px; */
  width: 200px;
  z-index: 3;
  left: 70%;
  /* transform: translateX(-300%, 400%); */
  display: none;
  padding: 10px;
  top: 400px;

  background-color: #ffffff;
}
.daan-table .hotel-data:hover .hotel-hover {
  display: grid;
  gap: 5px;
}
