.booking-check {
  border: 1px solid rgb(65, 176, 115);
  padding: 20px;
  display: grid;
  place-items: start;
  gap: 10px;
  width: fit-content;
  background: #ffffff;
  position: absolute;
  border-radius: 10px;
  left: 50%;
  top: 200px;
  transform: translate(-50%, 0%);
}
