.customer-table {
  border-collapse: separate;
  width: 100%;
  border-spacing: 0px;
  border-radius: 20px;
  overflow: hidden;
}

.customer-table .customer-expand {
  width: fit-content;
  margin: auto;
  background-color: white;
  padding: 30px 40px;
  border-radius: 20px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0px 5px 10px #d3d3e6;
  gap: 20px;
}
.customer-table i {
  color: #1a1a40;
  width: 30px;
  height: 30px;
  place-content: center;
  border-radius: 20px;
}
.customer-table i:hover {
  background-color: #7070a317;
}
.customer-table .customer-expand p {
}
.customer-table .customer-expand b {
  color: #1a1a40;
}
.customer-table .customer-expand span {
  background-color: #f5f5ff;
  color: #3f3f70;
  font-weight: 400;
  padding: 9px 25px;
  border-radius: 20px;
}
.customer-table th {
  border-bottom: 2px solid rgb(59, 205, 159);
  border-top: 2px solid rgb(59, 205, 159);
  /* border: 1px solid red; */
  /* border: none; */
  /* border-top: 4px solid #1a1a40; */
}
.customer-table th,
.customer-table td {
  padding: 11px 10px;
  /* border: none; */
  font-size: 14px;
  width: 200px;
  /* display: flex; */
  /* flex-direction: column; */
  text-align: center;
  border-radius: 0px;
  line-break: anywhere;
}
.customer-table th {
  padding: 15px;
}

.customer-table td {
  border-bottom: 1px solid rgba(213, 224, 255, 0.801);
  border-left: 1px solid rgba(213, 224, 255, 0.801);
  /* border-radius: 10px; */
  color: #3f3f70;
  font-weight: 400;
}
.customer-table .customer-expand td {
  padding: 10px 50px;
  /* border: 1px solid rgba(213, 224, 255, 0.801); */
  /* border-left: 1px solid rgba(213, 224, 255, 0.801);
  border-bottom: 1px solid rgba(213, 224, 255, 0.801); */
}

.customer-table tr {
  background: #ffffff;
  font-size: 16px;
  /* border: 1px solid red; */
}

.customer-table tr:hover {
  background-color: #f5f5ff;
}
.customer-table th {
  /* background: #cce8e0; */
  color: rgb(98, 165, 128);
}
.customer-table td {
}
