.acc-tabs-flex {
  display: flex;
  background-color: hsl(0, 0%, 100%);
  width: fit-content;
}
.acc-tabs-flex p {
  background-color: #ebf1ef;
  height: 35px;
  display: grid;
  place-content: center;
  font-weight: 500;
}

/* /////////////////////////////////////////////////////////////////////////// */
.daily-create {
  margin: auto;
  margin-right: 20px;
}
.daily-sub-head {
  display: flex;
  align-items: center;
  padding: 20px 0px;
}
.daily-sub-head h3 {
  width: 250px;
  font-size: 16px;
  font-weight: 500;
}
.disable {
  opacity: 0;
}
.s-visible {
  opacity: 1;
  display: flex;
  gap: 10px;
}
.s-disable {
  opacity: 0;
}
.visible {
  opacity: 1;
  display: flex;
  gap: 10px;
}

/* /////////////////////////////////////////////////////////////////////////// */

.acc-tabs-flex text {
  background-color: #edf1f1;
  width: 100%;
  font-size: 13px;
  color: #026e7e;
  height: 35px;
  padding: 10px 20px;
}
.acc-tabs .acc-tabs-container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px 20px 20px 20px;
  padding: 40px 20px;
}
/* ///////////////////////// */

.add-dailylog {
  margin: auto;
  margin-right: 0px;
  background-image: linear-gradient(40deg, #69af99);
}

.add-vendor {
  margin: auto;
  margin-right: 0px;
  background-image: linear-gradient(40deg, #69af99);
}
.add-salary {
  margin: auto;
  margin-right: 0px;
  background-image: linear-gradient(40deg, #69af99);
}
