.dash-prev {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  height: 320px;
  width: fit-content;
  /* background-color: rgb(255, 255, 255); */
  /* padding: 20px; */
  border-radius: 20px;
}
.dash-prev .sub-1 {
  width: 150px;
  color: rgb(44, 44, 44);
  background-image: url("/prevgrap.jpg");
  background-position: end;

  /* background-image: linear-gradient(to right, #69af99, #386f74); */
  padding: 10px;
  display: flex;

  flex-direction: column;
  gap: 5px;
  text-align: center;
  justify-content: center;
  /* text-align: center; */
  /* gap: 10px; */
  /* text-align: center; */
  /* border: 1px solid rgb(221, 221, 221); */
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  /* place-items: center; */
  /* gap: 20px; */
  /* height: 100px; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-around; */
  border-radius: 20px;
}
.dash-prev .sub-1 i {
  /* width: 100%; */
  /* margin: auto; */
  width: 30px;
  text-align: start;
  /* background: #ececec; */
  margin-left: 0px;
}
.dash-prev .sub-1 h2 {
  font-weight: 500;
  font-size: 16px;
  color: #88a0a4;
  /* text-decoration: underline; */
}
.dash-prev .sub-1 span {
  font-size: 150%;
  line-break: anywhere;
  /* margin-bottom: 20px; */
  /* padding-bottom: 20px; */
  /* padding: 20px; */
  font-weight: bold;
  color: #36dc84;
}
