.booking .flex-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  position: relative;
  align-items: center;
}

/* .booking .booking-add {
  position: absolute;
  right: 0px;
} */

.booking {
  /* display: ; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  /* padding: 10px; */
  /* background-color: aqua; */
}
.booking-add {
  margin: auto;
  margin-right: 0px;
  background-image: linear-gradient(40deg, #69af99);
  /* border: 1px solid #3b8f6d; */
  color: #ffffff;
}
.booking-add:active {
  background-image: linear-gradient(40deg, #69af99b6);
}
/* .booking .line {
  width: 100%;
  height: 2px;
  margin-top: 0px;
  background: rgb(95, 119, 255);
  margin-bottom: 20px;
} */
.booking .elements .h2-sub {
  color: #386f74;
  margin-top: 20px;
  /* background-image: linear-gradient(90deg, #386f74, #649ea3); */
  background: #ffffff;
  /* font-size: 20px; */
  padding: 20px 20px;
  border-radius: 20px;
  /* font-size: 25px; */
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 20px;
}
.booking .flex {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: 100vh;
  /* gap: 10px; */
  padding: 10px 10px 10px 10px;
  /* background: hsl(243, 37%, 52%); */
  /* padding-right: 10px; */
  /* background-color: antiquewhite; */
}
.booking .elements {
  /* background-color: #dde9e5; */

  /* background-image: linear-gradient(40deg, rgb(56, 61, 90)); */
  padding: 20px;
  height: 100%;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  border-radius: 20px;
}
