.add-account-main {
  margin-top: 20px;
  display: grid;
  gap: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.105);
  padding: 15px 20px;
  border-radius: 20px;
  /* width: fit-content; */
}

.add-account-main form {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
  row-gap: 20px;
  flex-wrap: wrap;
}
.add-account-main i {
  float: right;
  margin: auto;
  margin-right: 0;
}
