/* .acc-tabs-flex {
  display: flex;
  background-color: hsl(0, 0%, 100%);
  width: fit-content;
}
.acc-tabs-flex p {
  background-color: #ebf1ef;
  height: 35px;
  display: grid;
  place-content: center;
}
.acc-tabs-flex text {
  background-color: #ebf1ef;
  width: 100%;
  color: #96b7ac;
  height: 35px;
  padding: 10px 20px;
}
.acc-tabs {
}
.acc-tabs .acc-tabs-container {
  background-color: hsl(0, 0%, 100%);

  border-radius: 20px 20px 20px 20px;
  padding: 40px 20px;
} */
