.custom_select {
  width: 200px;
  padding: 8px 15px;
  border-radius: 20px;
  outline: none;
  color: black;
  border: 1px solid #b1d2d7;
}

.custom_select::-webkit-scrollbar {
  display: none;
}
.custom-select-label {
  width: fit-content;
  height: fit-content;
  position: relative;
}
.custom-select-label p {
  position: absolute;
  background-color: rgb(255, 255, 255);
  left: 15px;
  top: -15px;
  z-index: 1;
  font-size: 13px;
  padding: 0px 7px;
}
