.report-tabs-flex {
  display: flex;
  /* gap: 10px; */
  background-color: hsl(0, 0%, 100%);

  width: fit-content;
  /* border-bottom: 1px solid black; */
}
.report-tabs-flex p {
  /* padding: 8px 10px; */
  background-color: #ebf1ef;
  height: 35px;
  /* border: 1px solid black; */
  display: grid;
  place-content: center;
  /* border-radius: 20px; */
  /* border-radius: 20px 20px 0px 0px;   */
  font-weight: 500;
}

.report-tabs-flex text {
  background-color: #edf1f1;
  width: 100%;
  color: #026e7e;
  height: 35px;
  font-size: 13px;
  /* height: 100%; */
  padding: 10px 20px;
}
.report-tabs {
  /* background: #000; */
}
.report-tabs .report-tabs-container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px 20px 20px 20px;
  padding: 40px 20px;
}
/* ///////////////////////// */
