.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0px 0px 20px 20px;
  /* background-color: antiquewhite; */
}
.navbar .nav-menu {
  display: flex;
  float: right;
  /* position: absolute; */
  align-items: center;
  gap: 10px;
}
.navbar .nav-menu i {
  padding: 11px 0px 11px 0px;
  width: 70px;
  border-radius: 20px;
  color: #69af99;
  background-color: #386f74;
  border-left: 1px solid white;
}
.navbar .nav-menu nav {
  display: flex;
  align-items: center;
  /* background-color: aqua; */
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
  /* padding: 10px; */
  /* border: 2px solid rgb(190, 133, 255); */
  /* border-bottom: 3px solid rgb(95, 119, 255); */
}
.navbar .nav-menu button {
  background-image: linear-gradient(
    40deg,
    rgb(190, 133, 255),
    rgb(190, 133, 255)
  );
  color: white;
  border-bottom: none;
}
.navbar .nav-menu input {
  padding: 10px 20px;
  border-radius: 20px 0px 0px 20px;
  border: none;
  width: 300px;
  /* background-color: none; */
  background-color: rgba(190, 133, 255, 0);
  /* border: 1px solid rgb(95, 119, 255);
  border-bottom: 3px solid rgb(95, 119, 255); */
  /* border-right: 1px solid rgb(255, 255, 255); */
}
.navbar .nav-menu input::placeholder {
  color: #386f74;
}
