.custom-multi-select {
  width: 350px;
  /* background-color: #799e92; */
}

.custom-select-two {
  background-color: antiquewhite;
  /* width: 200px; */
}

.custom-filter .label-p {
  position: absolute;
  top: -12px;
  left: 20px;
  font-size: 13px;
  padding: 0px 3px;
  background-color: #ffffff;
  /* background-color: rgba(255, 255, 255, 0); */
}
