.payment-tabs-flex {
  display: flex;
  background-color: hsl(0, 0%, 100%);
  width: fit-content;
}
.payment-tabs-flex p {
  background-color: #ebf1ef;
  height: 35px;
  display: grid;
  place-content: center;
  font-weight: 500;
}

.payment-tabs-flex text {
  background-color: #edf1f1;
  width: 100%;
  color: #026e7e;
  font-size: 13px;
  height: 35px;
  padding: 10px 20px;
}

.payment-tabs .payment-tabs-container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px 20px 20px 20px;
  padding: 40px 20px;
}
.payment-tabs .payment-tabs-container-2 h3 {
  background-color: #026e7e;
  padding: 20px;
  color: white;
}
.payment-tabs .payment-tabs-container-2 p {
  padding: 10px 20px;
}
.payment-tabs .payment-tabs-container-2 b {
  background-color: #026e7e;
  color: white;
  padding: 5px 10px;
  font-size: 13px;
  /* border-radius: 10px; */
}
