.acc-pos {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 20px;
  padding: 0px 0px;
}
.acc-pos div {
  width: 100%;
}
.active-btn {
  background-image: linear-gradient(to left, white);
  border-color: #447b64;
  color: #447b64;
}
.add-budget {
  margin: auto;
  margin-right: 0px;
  /* background-image: linear-gradient(40deg, #065b51); */
}

.add-account-main h4{
  text-decoration: underline;
}