.acc-pos {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 20px;
  padding: 0px 0px;
}

.active-btn {
  background-image: linear-gradient(to left, white);
  border-color: #447b64;
  color: #447b64;
}
.add-budget {
  margin: auto;
  margin-right: 0px;
}
