.customer .flex-1 {
  display: flex;
  gap: 10px;
  align-items: center;
}
.customer {
  /* display: ; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* background-color: aqua; */
}
.customer .elements .h2-sub {
  color: #386f74;
  margin-top: 20px;
  /* background-image: linear-gradient(90deg, #386f74, #649ea3); */
  background: #ffffff;
  /* font-size: 20px; */
  padding: 20px 20px;
  border-radius: 20px;
  /* font-size: 25px; */
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 20px;
}

.customer label {
  position: relative;
}
.customer label .placeholder {
  position: absolute;
  top: -12px;
  left: 15px;
  background-color: white;
  padding: 0px 5px;
}

.customer .flex {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  /* gap: 10px; */
  padding: 10px 10px 10px 10px;
  /* background: hsl(243, 37%, 52%); */
  /* padding-right: 10px; */
  /* background-color: antiquewhite; */
}
.customer .elements {
  /* background-image: linear-gradient(40deg, rgb(56, 61, 90)); */
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 10px;
  width: 100%;
  border-radius: 20px;
}
