.daan-table .daan-expand {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 20px;
  /* padding-top: 30px; */
  gap: 30px;
  background-color: rgba(0, 0, 0, 0.029);
  border-radius: 20px;
  border: 1px solid gainsboro;
  /* box-shadow: 0px 5px 10px #d3d3e6; */
  /* flex-direction: column; */
}
.daan-table .daan-expand p {
  margin-top: 5px;
  /* min-width: 120px; */
  /* background-color: #d3d3e6; */
}
.daan-table .daan-expand .daan-upt span:nth-child(2) {
  background-color: #ff4343;
  color: white;
  border: none;
}

.daan-table .daan-expand span {
  /* border: 2px solid #7070a3; */
  background-color: #ffffff !important;
  color: #000000 !important;
  font-weight: 400;
  padding: 9px 25px;
  border-radius: 20px;
}
