* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
p,
input,
button,
li {
  font-size: 14px;
}
/* #1a1a40
#3f3f70
#7070a3
#d3d3e6
#f5f5ff
 */
.app {
  max-width: 100rem;
  margin: auto;
}

.common-flex {
  /* background: #386f74; */
  background-color: #ebf1ef;
}
.common-element {
  background-color: #ebf1ef;
}
